## CHANGE THE FOLLOWING.
positive_fastq_dir= # CHANGE THIS!
negative_fastq_dir= # CHANGE THIS!
reference=GRCh38_latest_genomic.fna # CHANGE THIS!
gff_file=gencode.v38.primary_assembly.annotation.gff3 # CHANGE THIS!
output_directory=./output_directory # CHANGE THIS!

## BELOW CAN BE LEFT AS IS.
edit_distance=1 #DEFAULT
threads=4 #DEFAULT - threads being used on compute.
kmer_size=31 #DEFAULT - kmer size used during analysis.
nuc_cov=25 #DEFAULT - this is the coverage used for finding kmers.
kmer_cutoff=50000 #DEFAULT - this is the total number of kmers to select from.GRCh38_latest_genomic