## CHANGE THE FOLLOWING.
global_path=/Users/dreyceyalbin/Desktop/kvar/testing/
positive_fastq_dir=${global_path}/positive_fastqs/ # CHANGE THIS!
negative_fastq_dir=${global_path}/negative_fastqs/ # CHANGE THIS!
reference=${global_path}/GRCh38_latest_genomic.fna # CHANGE THIS!
gff_file=${global_path}/gencode.v38.primary_assembly.annotation.gff3 # CHANGE THIS!
output_directory=${global_path}/testing_output # CHANGE THIS!

## BELOW CAN BE LEFT AS IS.
edit_distance=1 #DEFAULT
threads=4 #DEFAULT - threads being used on compute.
kmer_size=31 #DEFAULT - kmer size used during analysis.
nuc_cov=25 #DEFAULT - this is the coverage used for finding kmers.
kmer_cutoff=50000 #DEFAULT - this is the total number of kmers to select from.GRCh38_latest_genomic